.site-welcome{
  color:#6f6f6f;
  padding:0.625rem;
  margin-bottom:3rem;
  h2{
      font-size: 2rem;
      margin-bottom:1rem;
  }
  p{
    font-size:1.25rem;
     margin-bottom:2rem;
  }
  footer{
    text-align: center;
  }
}